<template>
  <div class="LoginPage">
    <div class="LoginPage--logo-container">
      <img class="LoginPage--logo" src="../assets/login-logo.svg" alt="" />
    </div>
    <div class="LoginPage--container">
      <transition name="slide" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginPage',
}
</script>

<style lang="sass" scoped>
.LoginPage
  display: flex
  flex-flow: row
  margin-top: 220px
  padding: 0 20vw
  .LoginPage--logo-container
    width: 336px
  .LoginPage--container
    margin-left: 55px
    text-align: left
    width: 445px
  .slide-enter-active, .slide-leave-active
    transition: opacity .5s, transform .5s
  .slide-enter, .slide-leave-to
    opacity: 0
    transform: translateX(-30%)
</style>
