<template>
  <div class="Tasks">
    <TaskSideBar @listSelected="list => (this.selectedList = list)" />
    <TasksView
      class="Tasks--TasksView"
      :tasks="filteredTasks"
      :list="selectedList ? selectedList : { name: 'All Tasks' }"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import TasksView from '../components/TasksView'
import TaskSideBar from '../components/TasksSideBar'
import { get } from '../utils/utils'

export default {
  name: 'Tasks',
  components: { TasksView, TaskSideBar },
  computed: {
    ...mapGetters(['tasks']),
    filteredTasks: function() {
      return this.selectedList
        ? this.tasks.filter(task => task.listId === this.selectedList.id)
        : this.tasks
    },
  },
  async beforeRouteEnter(to, from, next) {
    const user = await get('/user')
    next(vm => vm.updateUser(user))
  },
  data() {
    return {
      selectedList: null,
    }
  },
  methods: {
    ...mapActions(['updateUser']),
  },
}
</script>

<style lang="sass" scoped>
.Tasks
  border-top: 2px solid #F2F7F7
  display: flex
  height: 90%
</style>
