<template>
  <div class="AppBar">
    <img class="AppBar--logo" src="../assets/hushbyte-logo.svg" alt="" />
  </div>
</template>

<script>
export default {
  name: 'AppBar',
}
</script>

<style lang="sass" scoped>
.AppBar
  text-align: left
  width: 100%
  .AppBar--logo
    width: 40px
    margin: 24px
</style>
