<template>
  <button @click="onClick" class="Button">{{ text }}</button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: String,
  },
  methods: {
    onClick() {
      this.$emit('click')
    },
  },
}
</script>

<style lang="sass" scoped>
.Button
  background-color: white
  border: none
  cursor: pointer
  font-size: 16px
  font-weight: 500
  outline: none
  padding: 12px 24px
  &:focus
    box-shadow: 0 0 0 2px rgba(174, 174, 174, 0.6)
</style>
