<template>
  <div class="CreateAccount">
    <div class="CreateAccount--title">Create Account</div>
    <Input
      @input="value => (this.email = value)"
      class-name="CreateAccount--input"
      type="text"
      placeholder="Email"
    />
    <Input
      @input="value => (this.password = value)"
      class-name="CreateAccount--input"
      type="password"
      placeholder="Password"
    />
    <Input
      @input="value => (this.confirmedPassword = value)"
      class-name="CreateAccount--input"
      type="password"
      placeholder="Confirm Password"
    />
    <Button
      @click="createAccount"
      class="CreateAccount--button-create"
      text="Create An Account"
    />
    <router-link to="login" replace>
      <Button class="CreateAccount--button-login" text="Log In" />
    </router-link>
  </div>
</template>

<script>
import Input from '../components/Input'
import Button from '../components/Button'
import { post } from '../utils/utils'
import { mapActions } from 'vuex'

export default {
  name: 'CreateAccount',
  components: { Button, Input },
  data() {
    return {
      email: '',
      password: '',
      confirmedPassword: '',
      passwordError: false,
    }
  },
  methods: {
    ...mapActions(['updateAuthState']),
    async createAccount() {
      if (this.password !== this.confirmedPassword) {
        this.passwordError = true
      }
      const response = await post('/signup', {
        email: this.email,
        password: this.password,
      })
      if (response.ok) {
        this.updateAuthState(true)
        this.$router.push({ name: 'Tasks' })
      }
    },
  },
}
</script>

<style lang="sass" scoped>
.CreateAccount
  .CreateAccount--title
      font-size: 24px
      margin-bottom: 40px
  .CreateAccount--input
    margin-bottom: 24px
  .CreateAccount--button-create
    background-color: #FF7267
    color: white
    margin-right: 16px
    transition: background-color 100ms ease
    &:hover
        background-color: #DE3326
  .CreateAccount--button-login
    border: 1px solid #242525
    color: #242525
    transition: background-color 100ms ease
    &:hover
        background-color: black
        color: white
</style>
