<template>
  <component
    :width="width"
    :height="height"
    :fill="iconColor"
    :is="icon"
  ></component>
</template>

<script>
import Menu from './icons/IconMenu'
import Close from './icons/IconClose'
import Delete from './icons/IconDelete'
import Edit from './icons/IconEdit'

export default {
  props: {
    iconName: String,
    width: [Number, String],
    height: [Number, String],
    iconColor: {
      type: String,
      default: 'currentColor',
    },
  },
  computed: {
    icon: function() {
      switch (this.iconName) {
        case 'edit':
          return Edit
        case 'menu':
          return Menu
        case 'close':
          return Close
        case 'delete':
          return Delete
        default:
          return null
      }
    },
  },
}
</script>

<style lang="sass" scoped>
svg
  display: inline-block
  vertical-align: baseline
  margin-bottom: -2px
</style>
