<template>
  <div :class="['Input', className]">
    <input
      @input="onInput($event.target.value)"
      class="Input--field"
      :type="type"
      :placeholder="placeholder"
    />
  </div>
</template>

<script>
export default {
  name: 'Input',
  methods: {
    onInput(value) {
      this.$emit('input', value)
    },
  },
  props: {
    className: String,
    type: String,
    placeholder: String,
  },
}
</script>

<style lang="sass" scoped>
.Input
  color: #8A9696
  .Input--field
    border: 1px solid #C4CCCC
    outline-color: #FF7267
    padding: 12px
    width: 100%
    ::placeholder
      color: #8A9696
      font-weight: 500
</style>
