<template>
  <div class="Login">
    <div class="Login--title">Log In</div>
    <Input
      @input="value => (this.email = value)"
      class-name="Login--input"
      type="text"
      placeholder="Email"
    />
    <Input
      @input="value => (this.password = value)"
      @keydown.enter="login"
      class-name="Login--input"
      type="password"
      placeholder="Password"
    />
    <Button @click="login" class="Login--button-login" text="Log In" />
    <router-link to="signup" replace>
      <Button class="Login--button-create" text="Create An Account" />
    </router-link>
  </div>
</template>

<script>
import Input from '../components/Input'
import Button from '../components/Button'
import { post } from '../utils/utils'
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  components: { Button, Input },
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    ...mapActions(['updateAuthState']),
    async login() {
      if (this.email && this.password) {
        const response = await post('/login', {
          email: this.email,
          password: this.password,
        })
        if (response.ok) {
          this.updateAuthState(true)
          this.$router.push({ name: 'Tasks' })
        }
      }
    },
  },
}
</script>

<style lang="sass" scoped>
.Login
  .Login--title
    font-size: 24px
    margin-bottom: 40px
  .Login--input
    margin-bottom: 24px
  .Login--button-login
    background-color: #FF7267
    color: white
    margin-right: 16px
    transition: background-color 100ms ease
    &:hover
        background-color: #DE3326
  .Login--button-create
    border: 1px solid #242525
    color: #242525
    transition: background-color 100ms ease
    &:hover
      background-color: black
      color: white
</style>
