<template>
  <div class="TasksSideBar">
    <div class="TasksSideBar--lists">
      <div @click="selectList()" class="TasksSideBar--list-container">
        <div class="TasksSideBar--list-title">
          All Tasks
        </div>
      </div>
      <div
        :key="list.id"
        @click="selectList(list)"
        class="TasksSideBar--list-container"
        v-for="list in lists"
      >
        <input
          :disabled="!renamingList"
          :id="`list-${list.id}`"
          :value="list.name"
          @focusout="
            () => {
              renamingList = false
              editingListId = null
            }
          "
          @input="updateListName($event.target.value, list)"
          class="TasksSideBar--list-title"
        />
        <div
          @click.prevent="showListMenu($event.target, list.id)"
          class="TasksSideBar--list-menu-icon-container"
        >
          <Icon
            class="TasksSideBar--list-menu-icon"
            icon-color="#999"
            icon-name="menu"
          />
        </div>
      </div>
      <div
        @focusout="closeMenu($event.target)"
        class="TasksSideBar--list-menu"
        ref="listMenu"
        tabindex="0"
      >
        <div @click="renameList" class="TasksSideBar--list-menu-item-container">
          <Icon
            class="TasksSideBar--list-menu-icon TasksSideBar--list-menu-edit-icon"
            height="18px"
            icon-color="#8A9696"
            icon-name="edit"
            width="18px"
          />
          <div class="TasksSideBar--list-menu-label">Rename</div>
        </div>
        <div @click="removeList" class="TasksSideBar--list-menu-item-container">
          <Icon
            class="TasksSideBar--list-menu-icon TasksSideBar--list-menu-delete-icon"
            height="18px"
            icon-color="none"
            icon-name="delete"
            width="18px"
          />
          <div class="TasksSideBar--list-menu-label">Delete</div>
        </div>
      </div>
    </div>
    <Button class="TasksSideBar--add-list-button" text="Edit Lists" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Icon from '../components/Icon'

export default {
  name: 'TasksSideBar',
  components: { Icon },
  computed: {
    ...mapGetters(['lists']),
  },
  data() {
    return {
      selectedList: null,
      editingListId: null,
      renamingList: false,
    }
  },
  methods: {
    ...mapActions(['updateList', 'deleteList']),
    selectList(list) {
      this.selectedList = list
      this.$emit('listSelected', list)
    },
    renameList() {
      this.renamingList = true
      const listInputEl = document.getElementById(`list-${this.editingListId}`)
      listInputEl.focus()
    },
    showListMenu(iconEl, id) {
      const menu = this.$refs.listMenu
      const { top, left } = iconEl.getBoundingClientRect()
      menu.style.top = `${top + 20}px`
      menu.style.left = `${left + 20}px`
      menu.style.display = 'flex'
      this.$nextTick(() => {
        menu.focus()
      })
      this.editingListId = id
    },
    updateListName(name, list) {
      list.name = name
      this.updateList(list)
    },
    closeMenu() {
      const menu = this.$refs.listMenu
      menu.style.display = 'none'
    },
    removeList() {
      this.deleteList({
        deletedListId: this.editingListId,
      })
      this.selectedList = this.lists[this.lists.length - 1]
      this.closeMenu()
    },
  },
}
</script>

<style lang="sass" scoped>
.TasksSideBar
  display: flex
  flex-flow: column
  justify-content: space-between
  min-width: 230px
  .TasksSideBar--lists
    .TasksSideBar--list-container
      align-items: center
      border-bottom: 1px solid #E4EBEB
      cursor: pointer
      display: flex
      padding: 12px 17px
      position: relative
      &:hover
        background-color: #f5f5f5
        .TasksSideBar--list-menu-icon-container
          opacity: .5
      .TasksSideBar--list-title
        background-color: unset
        border: none
        color: #242525
        cursor: pointer
        font-size: 16px
        font-weight: 500
        outline: none
        text-align: left
        text-overflow: ellipsis
        text-transform: capitalize
        &:focus
          border-bottom: 1px solid black
      .TasksSideBar--list-menu-icon-container
        display: flex
        opacity: 0
        padding: 10px 5px
        transition: opacity 150ms ease-in
        &:hover
          opacity: 1
      .TasksSideBar--list-menu-icon
        pointer-events: none
  .TasksSideBar--list-menu
    align-items: stretch
    background: white
    border: 1px solid #E4EBEB
    border-radius: 3px
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.08)
    display: none
    flex-flow: column
    font-size: 15px
    min-width: 100px
    outline: none
    position: absolute
    text-align: left
    top: 30px
    z-index: 1
    .TasksSideBar--list-menu-item-container
      align-items: center
      display: flex
      padding: 8px 18px
      &:hover
        background-color: #f3f3f3
        cursor: pointer
      .TasksSideBar--list-menu-icon
        margin-right: 10px
        margin-top: -4px
      .TasksSideBar--list-menu-delete-icon
        margin-top: -4px
      .TasksSideBar--list-menu-label
        font-size: 15px
        line-height: 24px

.slide-fade-enter-active, .slide-fade-leave-active
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)
.slide-fade-enter, .slide-fade-leave-to
  opacity: 0
</style>
