<template>
  <div class="TasksView">
    <div class="TasksView--title">
      {{ list.name }}
    </div>
    <Task
      :key="task.id"
      :task="task"
      @taskUpdated="taskUpdated"
      class="TasksView--Task"
      v-for="task in uncompletedTasks"
    />
    <transition mode="out-in" name="slide-fade">
      <div
        @click="addingTask = true"
        class="TasksView--add-task-title"
        key="notAddingTask"
        v-if="!addingTask"
      >
        + Add Task
      </div>
      <div class="TasksView--add-task-container" key="addingTask" v-else>
        <input
          :value="addTaskValue"
          @input="({ target }) => (this.addTaskValue = target.value)"
          @keyup.enter="taskAdded"
          class="TasksView--add-task-input"
        />
        <Button
          @click="taskAdded"
          class="TasksView--add-task-button"
          text="Add Task"
          v-if="addingTask"
        />
        <Button
          @click="cancelAddTask"
          class="TasksView--add-task-cancel-button"
          text="Cancel"
          v-if="addingTask"
        />
      </div>
    </transition>
    <hr class="TasksView--complete" v-if="completedTasks.length > 0" />
    <div class="TasksView--complete-title" v-if="completedTasks.length > 0">
      Completed
    </div>
    <Task
      :key="task.id"
      :task="task"
      @taskUpdated="taskUpdated"
      class="TasksView--Task"
      v-for="task in completedTasks"
    />
  </div>
</template>

<script>
import Task from './Task'
import Button from './Button'

import { mapActions } from 'vuex'

export default {
  name: 'TasksView',
  components: { Button, Task },
  props: {
    list: Object,
    selectedList: Object,
    tasks: Array,
  },
  computed: {
    completedTasks: function() {
      console.log({ tasks: this.tasks })
      if (!this.tasks) return []
      return this.tasks.filter(task => task.isComplete)
    },
    uncompletedTasks: function() {
      if (!this.tasks) return []
      return this.tasks.filter(task => !task.isComplete)
    },
  },
  data() {
    return {
      addingTask: false,
      addTaskValue: '',
    }
  },
  methods: {
    ...mapActions(['addTask', 'updateTask']),
    taskUpdated(updatedTask) {
      this.updateTask(updatedTask)
    },
    taskAdded() {
      const value = this.addTaskValue
      if (value) {
        this.addTask({
          taskTitle: value,
          listId: this.list.id,
        })
        this.addTaskValue = ''
        this.addingTask = false
      }
    },
    cancelAddTask() {
      this.addingTask = false
      this.addTaskValue = ''
    },
  },
}
</script>

<style lang="sass" scoped>
.TasksView
  background-color: #F2F7F7
  padding: 16px 24px
  text-align: left
  width: 100%

  .TasksView--title
    font-size: 24px
    font-weight: normal
    margin-bottom: 16px
    text-align: left
    text-transform: capitalize

  .TasksView--complete
    border: 1px solid #E4EBEB
    margin-top: 16px

  .TasksView--complete-title
    color: #8A9696
    font-size: 16px
    margin: 16px 0

  .TasksView--add-task-title
    color: #8A9696
    cursor: pointer
    line-height: 25px
    margin: 20px 0
    opacity: .6
    transition: opacity 150ms ease-in
    width: fit-content
    &:hover
      opacity: 1

  .TasksView--add-task-container
    margin: 25px 0

    .TasksView--add-task-input
      background-color: transparent
      border: 1px solid #e2e2e2
      border-radius: 1px
      box-sizing: border-box
      color: #C4CCCC
      font-size: 16px
      margin-top: auto
      outline: none
      padding: 12px
      width: 100%

      &:focus
        border: 1px solid #b1b1b1
        color: inherit

    .TasksView--add-task-button
      background-color: #FF7267
      color: white
      font-size: 14px
      margin-top: 8px
      padding: 11px

      &:hover
        background-color: #DE3326

    .TasksView--add-task-cancel-button
      background-color: white
      border: 1px solid #242525
      color: #242525
      font-size: 14px
      margin-left: 15px
      padding: 10px
      transition: background-color 100ms ease

      &:hover
        background-color: black
        color: white

.slide-fade-enter-active, .slide-fade-leave-active
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  opacity: 0
</style>
