<template>
  <div class="Task">
    <input
      class="Task--check"
      type="checkbox"
      :checked="task.isComplete"
      @change="onChecked($event, task)"
    />
    <input
      ref="taskTitle"
      @blur="updateTaskTitle($event, task)"
      :class="['Task--title', { 'Task--title-complete': task.isComplete }]"
      :disabled="!editingTask"
      type="text"
      :value="task.taskTitle"
    />
    <button class="Task--button Task--edit-button" @click="editTask">
      <Icon width="14px" icon-name="edit" />
    </button>
    <button class="Task--button Task--delete-button" @click="deleteTask(task)">
      <Icon width="14px" icon-name="delete" />
    </button>
  </div>
</template>

<script>
import Icon from './Icon'
import { mapActions } from 'vuex'

export default {
  name: 'Task',
  components: {
    Icon,
  },
  data() {
    return {
      editingTask: false,
    }
  },
  props: {
    task: Object,
  },
  methods: {
    ...mapActions(['deleteTask']),
    onChecked({ target }, task) {
      task.isComplete = target.checked
      this.$emit('taskUpdated', task)
    },
    editTask() {
      this.editingTask = true
      this.$nextTick(() => {
        this.$refs.taskTitle.focus()
      })
    },
    updateTaskTitle({ target }, task) {
      task.taskTitle = target.value
      this.$emit('taskUpdated', task)
      this.editingTask = false
    },
  },
}
</script>

<style lang="sass" scoped>
.Task
  align-items: center
  background-color: white
  cursor: pointer
  display: flex
  height: 50px
  margin-bottom: 16px
  position: relative
  &::after
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14)
    content: ''
    height: 100%
    opacity: 0
    position: absolute
    pointer-events: none
    transition: opacity 250ms ease-in
    width: 100%
    z-index: 0
  &:hover
    &::after
      opacity: 1
  .Task--check
    margin: 12px
  .Task--title
    color: #242525
    cursor: pointer
    background: none
    border: none
    font-weight: 500
    font-size: 16px
    line-height: 19px
    outline: none
    padding: 12px
    width: 50%
    &:focus
      border-bottom: 1px solid #343434
      cursor: auto
  .Task--title-complete
    color: #8A9696
    text-decoration-line: line-through
    text-decoration-color: #8A9696
  &:hover
    .Task--button
      opacity: .4
  .Task--button
    background: none
    border: none
    cursor: pointer
    height: 100%
    outline: none
    opacity: 0
    padding: 0
    transition: opacity 200ms ease-in
    width: 35px
    &:hover
      opacity: 1
  .Task--edit-button
    margin-left: auto
  .Task--delete-button
    margin-right: 12px
</style>
