<template>
  <svg
    width="19"
    height="19"
    viewBox="0 0 19 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M2.375 4.75H3.95833H16.625"
      stroke="#8A9696"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M6.33325 4.74998V3.16665C6.33325 2.74672 6.50007 2.34399 6.797 2.04706C7.09393 1.75013 7.49666 1.58331 7.91659 1.58331H11.0833C11.5032 1.58331 11.9059 1.75013 12.2028 2.04706C12.4998 2.34399 12.6666 2.74672 12.6666 3.16665V4.74998M15.0416 4.74998V15.8333C15.0416 16.2532 14.8748 16.656 14.5778 16.9529C14.2809 17.2498 13.8782 17.4166 13.4583 17.4166H5.54159C5.12166 17.4166 4.71893 17.2498 4.422 16.9529C4.12507 16.656 3.95825 16.2532 3.95825 15.8333V4.74998H15.0416Z"
      stroke="#8A9696"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M7.91675 8.70831V13.4583"
      stroke="#8A9696"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M11.0833 8.70831V13.4583"
      stroke="#8A9696"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
