<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="3">
    <path
      d="M1.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
    ></path>
  </svg>
</template>
