<template>
  <div id="app">
    <AppBar />
    <router-view />
  </div>
</template>

<style lang="sass">
#app
  font-family: Barlow, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  height: 100vh
  display: flex
  flex-flow: column
#nav
  padding: 30px
  a
    font-weight: bold
    color: #2c3e50
    &.router-link-exact-active
      color: #42b983
</style>
<script>
import AppBar from './components/AppBar'
export default {
  components: { AppBar },
}
</script>
